.form {
    border: 1px solid black;
    width: 500px;
    margin: 10px 0px;
    border-radius: 20px;
}

.submit {
    background-color: #ffd700 !important;
}

.btn {
    background-color: #ffd700 !important;
  }
  
  .btn:hover {
    background-color: #ffd700 !important;
    border: 1px solid #13325b !important;
  }